Schema/Schema/factura/factura.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="factura" type="Tfactura"/>
        <xs:complexType name="Tfactura"> 
            <xs:sequence>
                <xs:element name="emision" type="xs:string"/>
                <xs:element name="vendedor" type="xs:string"/>
                <xs:element name="cliente" type="xs:string"/>
                <xs:element name="emision" type="xs:string"/>
                <xs:element name="emision" type="xs:string"/>
            </xs:sequence>  
            <xs:attribute name="id" type="xs:integer"/>
        </xs:complexType>
        


</xs:schema>